/* 
   This font is kindly shared by Bint or caoimhe.00 on Discord. 
   If you have any issues with using the CSS, please contact us (Yomidevs) via our official Discord server.
*/

/* --- Light Mode colours --- */
:root {
    --background-color: #FEFBF6;
    --freq-dict-color: #ED9DB8;
    --pitch-dict-color: #925F9B;
    --dict-color: #765BA5;

    /* main fonts */
    --gyousho-font: ＤＦ行書体 Pro-5, DFGyoSho Pro-5;
    --kyoukasho-font: ＤＦ教科書体 Std, DFKyoKaSho Pro-5;
    --kaisho-font: ＤＦ中楷書体 Pro-5, DFKaisho Pro-5;
    --mincho-font: ヒラギノ明朝 ProN;


    /* silly fonts */
    --tsukihime-font: FOT-テロップ明朝 Pro, FOT-TelopMin Pro;
    --kinbun-font: ＤＦ金文体 Std;
    --kinbun-like-font: FTT-ライラ;
    --fot-arc-font: FOT-アーク Std;
    --english-font: Baskerville;
}

/* --- Dark Mode colours --- */
:root[data-theme="dark"] {
    --background-color: #212228;
    --freq-dict-color: #BF8599;

    .frequency-group-tag .tag-label {
        background: var(--freq-dict-color);
    }
    .frequency-group-tag .tag-body {
        --tag-color: var(--freq-dict-color);
    }
}

/*-----------*/
/*-- Fonts --*/
/*-----------*/

/* --- Term --- */
.headword-term {
    font-family: var(--gyousho-font);
    font-size: clamp(2rem, 10vw, 2.5rem);
}

/* --- Furigana --- */
.headword-reading  {
    font-family: var(--kyoukasho-font);
    font-size: clamp(0.7rem, 3vw, 0.9rem);
}

/* --- Frequency info --- */
.frequency-group-tag .tag-label {
    background: var(--freq-dict-color);
    font-family: var(--kyoukasho-font);
    font-size: clamp(1rem, 4.2vw, 1.15rem);
}

.frequency-group-tag .tag-body {
    --tag-color: var(--freq-dict-color);
    font-family: var(--tsukihime-font);
    font-size: clamp(0.85rem, 3.5vw, 1rem);
}

/* --- Pitch --- */
.pronunciation-group-tag-list.tag-list .tag-label {
    background: var(--pitch-dict-color);
    font-family: var(--kyoukasho-font);
    font-size: clamp(1rem, 3.5vw, 1.15rem);
}

.pronunciation-representation-list {
    font-family: var(--kaisho-font);
    font-size: clamp(0.75rem, 3.5vw, 1rem);
}

/* --- Dict name --- */
.definition-tag-list.tag-list .tag-label {
    background: var(--dict-color);
    font-family: var(--kaisho-font);
    font-size: clamp(1rem, 4.2vw, 1.15rem);
}

/* --- Grammar stuff --- */
.inflection-rule-chains {
    font-family: var(--mincho-font);
    font-size: clamp(0.7rem, 3vw, 0.9rem);
}

/* --- Definition --- */
.gloss-list {
    font-family: var(--kaisho-font);
    font-size: clamp(1.1rem, 4vw, 1.3rem);
}

/*---------------------------*/
/*-- Dictionary Formatting --*/
/*---------------------------*/




/*-----------*/
/*-- Other --*/
/*-----------*/

/* --- Remove "Add reading" Button --- */
button[title^="Add reading"] {
    display: none;
}

/* --- Inflection Icon --- */
.inflection-source-icon[data-inflection-source="algorithm"]::after { content: "🌸"; }

