:root {
    --md-primary-fg-color:        #8F2DFF;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.md-button--stretch {
    width: 100%;
    text-align: center;
}

@media not all and (min-width: 640px) {
    .md-button--stretch-max-sm {
        width: 100%;
        text-align: center;
    }
}

.ss {
    position: relative;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: top ease 0.5s;
}

.ss:hover {
    top: -5px;
}

.icon {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.icon:hover {
    top: -1px;
}

.md-typeset h1 {
    margin: 0 0 0.5em;
}

.md-main__inner {
    margin-top: 0.5rem;
}

.md-typeset {
    line-height: 1.5;
}