#homepage-title-wrapper {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 200%;
}

#homepage-title {
    background: linear-gradient(to right, #bc00ff, #00eeff);
    background-clip: text;
    width: fit-content;
    height: fit-content;
    color: transparent;
}

[data-md-color-scheme="slate"] {
    #homepage-title {
        background: linear-gradient(to right, #c013ff, #00eeff);
        background-clip: text;
        color: transparent;
    }
}